body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: linear-gradient(to top, #fddb92 0%, #0c0628 100%);
    font-family: 'Lato', sans-serif;
    color: #fefcfb;
    min-width: 300px;
    border-radius: 8px;
    height: 100%;
    background-color: #333;
}

h1 {
    color: #fddb92;
}

#quote {
    padding: 10px;
    font-size: 18px;
}

#author {
    padding: 10px;
    font-size: 16px;
}

#button {
    margin-top: 10px;
    padding: 10px;
    border-radius: 30px;
    background-color: transparent;
    border: 1px solid #fddb92;
    border-color: #fddb92;
    color: #fefcfb;
    font-size: 14px;
    font-weight: bold;
}

#button:hover {
    background-color: #fddb92;
    color: #0c0628;
}

#countdown {
    display: flex;
    align-items: flex;
    justify-content: center;
    position: relative;
    padding: 10px;
    text-align: center;
    display: none;
}

svg {
    position: relative;
    width: 200px;
    height: 200px;
    transform: rotateY(-180deg) rotateZ(-90deg);
}

#circle {
    stroke-dasharray: 503;
    stroke-linecap: round;
    stroke-width: 8px;
    stroke: white;
    fill: none;
    transition: 1s linear all;
}